<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link href="../static/ui/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../static/ui/bootstrap/css/prettify.css" rel="stylesheet">
  <link href="../static/ui/css/flat-ui.css" rel="stylesheet">
  <link href="../static/ui/css/docs.css" rel="stylesheet">
  <link href="../static/css/fineuploader.min.css" rel="stylesheet">
  <!--link href="../static/css/fineuploader-custom.css" rel="stylesheet"--!>
  <link href="../static/css/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="../static/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="../static/ui/js/html5shiv.js"></script>
      <script src="../static/ui/js/respond.min.js"></script>
    <![endif]-->
 <title></title>
</head>
<body>
  <div id="header_top">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#">guor.cc</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav">
                <li class="active">
                    <div class="dropdown">
                           <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">产品<span class="caret"></span></button>
                           <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                           <ul class="dropdown-menu dropdown-inverse">
                              <li><a href="#fakelink">裤子</a></li>
                              <li><a href="#fakelink">裙子</a></li>
                              <li><a href="#fakelink">外衣</a></li>
                              <li><a href="#fakelink">包包</a></li>
                              <li><a href="#fakelink">鞋子</a></li>
                              <li><a href="#fakelink">配件</a></li>
                            </u>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">联系方式<span class="caret"></span></button>
                        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                        <ul class="dropdown-menu dropdown-inverse">
                            <li class="self_color"><img src="../static/img/boss_weixin.jpg" width=150px height=150px /></li>
                            <li class="self_color">微信号：TM148999</li>
                        </u>
                    </div>

                </li>
               </ul>
              <form class="navbar-form navbar-right" action="#" role="search" style="width: 250px">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="搜索">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form>
            </div><!-- /.navbar-collapse -->
          </nav>
  </div>
 <section id="wrapper content-main">
<header id="thing_header">
<hgroup>
<h1>FamilyCube 幸福时光</h1>
<h2>
中国第一款家庭云数码相框</h2>
</hgroup>
<ul class="nav nav-pills"></ul>
</header>

<section id="thing_content">
<div id="thing_photos">
<div class="carousel slide">
<div class="carousel-inner">
<div class="item active" style="height: 480px; line-height: 480px;">
<img alt="familycube1.png" src="http://image.knewone.com/photos/e66188cf4850d182829be50bcfdf140e.png!review">
</div>
<div class="item " style="height: 480px; line-height: 480px;">
<img alt="familycube2.png" src="http://image.knewone.com/photos/c7203846f92cacc2a3372b16dd34a934.png!review">
</div>
</div>
<a class="carousel-control left" data-slide="prev" href="#thing_photos .carousel">
<i class="fa fa-chevron-left">
</i>
</a>
<a class="carousel-control right" data-slide="next" href="#thing_photos .carousel">
<i class="fa fa-chevron-right">
</i>
</a>
</div>
<div class="carousel_overview slideshow">
<button class="slideshow_control left disabled" disabled="">
<i class="fa fa-chevron-left">
</i>
</button>
<button class="slideshow_control right disabled" disabled="">
<i class="fa fa-chevron-right">
</i>
</button>
<div class="slideshow_body" style="overflow: hidden;">
<ol class="slideshow_inner" style="-webkit-transform: translateZ(0px); width: 180px;">
<li data-slide-to="0" data-target="#thing_photos .carousel" class="active">
<img alt="familycube1.png" class="img-rounded" src="http://image.knewone.com/photos/e66188cf4850d182829be50bcfdf140e.png!small">
</li>
<li data-slide-to="1" data-target="#thing_photos .carousel">
<img alt="familycube2.png" class="img-rounded" src="http://image.knewone.com/photos/c7203846f92cacc2a3372b16dd34a934.png!small">
</li>
</ol>
</div>
</div>
</div>
<div class="post_content">
<h4>
幸福时光是什么</h4>
<div>
幸福时光是中国第一款家庭云数码相框，是一个载满幸福的盒子。</div>
<div>
全家人通过手机分享的照片，就会自动出现在幸福时光中。</div>
<div>
最神奇的是，它只有 一个开关按钮，非常适合老年人使用。</div>
<div>
按下开关，全家人的照片就会自动下载播放， 操作非常简单。</div>
<div>
赶紧给父母买一台吧！</div>
<h4>
用最轻松的方式，在家人间传递关爱</h4>
<div>
<span>
当你分享孩子成长的照片，爷爷奶奶会随时看到他们想念的孙子，给老人送一个幸福时光比买任何营养品都更有价值。</span>
<br>
</div>
<div>
<div>
当你分享工作午餐的照片，你的父母和家人会看到你把自己照顾的很好，并深感欣慰，幸福时光传递的是无声的关爱。</div>
<div>
当你分享工作，加班或出差的照片，家人会看到你为家庭的辛勤付出，幸福时光传递的是更深的理解和支持。</div>
</div>
<h4>
功能特点</h4>
<div>
<ul>
<li>
即拍即传即看</li>
<li>
8 寸高分辨率屏幕</li>
<li>
时尚简洁的排版</li>
<li>
支持离线播放</li>
</ul>
</div>
</div>
<aside data-count="0" data-per="25" data-postid="532025f931302d43f20e0000" data-signin="true" data-title="回复" id="thing_comments">
<div class="comments">

  <h4>
    <i class="fa fa-comments-o"></i>
    回复
  </h4>
  <form id="create_comment" class="comment_form">

    <div class="controls">
      <textarea class="form-control" name="comment_content" rows="5" maxlength="300" placeholder="不超过300字" required=""></textarea>
    </div>
    <button type="submit" class="btn btn-success pull-right">
      <i class="fa fa-comments-o"></i>
      发布
    </button>
  </form>
</div>
</aside></section>
</section>
  <script src="../static/ui/js/jquery-1.8.3.min.js"></script>
  <script src="../static/ui/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="../static/ui/js/jquery.ui.touch-punch.min.js"></script>
  <script src="../static/ui/js/bootstrap.min.js"></script>
  <script src="../static/ui/js/bootstrap-select.js"></script>
  <script src="../static/ui/js/bootstrap-switch.js"></script>
  <script src="../static/ui/js/flatui-checkbox.js"></script>
  <script src="../static/ui/js/flatui-radio.js"></script>
  <script src="../static/ui/js/jquery.tagsinput.js"></script>
  <script src="../static/ui/js/jquery.placeholder.js"></script>
  <script src="http://vjs.zencdn.net/4.3/video.js"></script>
  <script src="../static/ui/js/application.js"></script>
  <script src="../static/js/bootstrap-wysiwyg.js"></script>
  <script src="../static/js/external/jquery.hotkeys.js"></script>
  <script src="../static/js/external/google-code-prettify/prettify.js"></script>
  <script src="../static/js/fineuploader.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#thumbnail-fine-uploader').fineUploader({
      template: "qq-simple-thumbnails-template",
      thumbnails: {
          placeholders: {
            waitingPath: "../static/css/font-awesome/assets/waiting-generic.png",
            notAvailablePath: "../static/css/font-awesome/assets/not_available-generic.png"
          }
      },
      request: {
        endpoint: 'server/handleUploads'
      },
      validation: {
          allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
      }
    });
  });
  $('#editor').wysiwyg();
</script>
</body>
</html>
