<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="../static/ui/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../static/ui/bootstrap/css/prettify.css" rel="stylesheet">
  <link href="../static/ui/css/flat-ui.css" rel="stylesheet">
  <link href="../static/ui/css/docs.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="../static/ui/js/html5shiv.js"></script>
      <script src="../static/ui/js/respond.min.js"></script>
    <![endif]-->
  <title></title>
</head>
<body>
  <div id="header_top">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#">guor.cc</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav">
                <li class="active">
                    <div class="dropdown">
                           <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">产品<span class="caret"></span></button>
                           <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                           <ul class="dropdown-menu dropdown-inverse">
                              <li><a href="#fakelink">裤子</a></li>
                              <li><a href="#fakelink">裙子</a></li>
                              <li><a href="#fakelink">外衣</a></li>
                              <li><a href="#fakelink">包包</a></li>
                              <li><a href="#fakelink">鞋子</a></li>
                              <li><a href="#fakelink">配件</a></li>
                            </u>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">联系方式<span class="caret"></span></button>
                        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                        <ul class="dropdown-menu dropdown-inverse">
                            <li class="self_color"><img src="../static/img/boss_weixin.jpg" width=150px height=150px /></li>
                            <li class="self_color">微信号：TM148999</li>
                        </u>
                    </div>

                </li>
               </ul>
              <form class="navbar-form navbar-right" action="#" role="search" style="width: 250px">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="搜索">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form>
            </div><!-- /.navbar-collapse -->
          </nav>
  </div>
  <div class="main_body">
    <div class="self-navbar">
      <button class="btn btn-default">Default</button>
      <button class="btn btn-info">Info</button>
      <button class="btn btn-danger">Danger</button>
      <button class="btn btn-success">Success</button>
      <button class="btn btn-warning">Warning</button>
      <button class="btn btn-inverse">Inverse</button>
    </div>
    <div class="row">
        <div class="col-xs-3 self-col-xs">
          <div class="tile">
            <img src="images/icons/svg/compas.svg" alt="Compas" class="tile-image big-illustration">
            <h3 class="tile-title">Web Oriented</h3>
            <p>100% convertable to HTML/CSS layout.</p>
            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
          </div>
        </div>

        <div class="col-xs-3 self-col-xs">
          <div class="tile">
            <img src="images/icons/svg/loop.svg" alt="Infinity-Loop" class="tile-image">
            <h3 class="tile-title">Easy to Customize</h3>
            <p>Vector-based shapes and minimum of layer styles.</p>
            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
          </div>
        </div>

        <div class="col-xs-3 self-col-xs">
          <div class="tile">
            <img src="images/icons/svg/pencils.svg" alt="Pensils" class="tile-image">
            <h3 class="tile-title">Color Swatches</h3>
            <p>Easy to add or change elements. </p>
            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
          </div>
        </div>
      </div>
 <div class="row">
        <div class="col-xs-3 self-col-xs">
          <div class="tile">
            <img src="images/icons/svg/compas.svg" alt="Compas" class="tile-image big-illustration">
            <h3 class="tile-title">Web Oriented</h3>
            <p>100% convertable to HTML/CSS layout.</p>
            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
          </div>
        </div>

        <div class="col-xs-3 self-col-xs">
          <div class="tile">
            <img src="images/icons/svg/loop.svg" alt="Infinity-Loop" class="tile-image">
            <h3 class="tile-title">Easy to Customize</h3>
            <p>Vector-based shapes and minimum of layer styles.</p>
            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
          </div>
        </div>

        <div class="col-xs-3 self-col-xs">
          <div class="tile">
            <img src="images/icons/svg/pencils.svg" alt="Pensils" class="tile-image">
            <h3 class="tile-title">Color Swatches</h3>
            <p>Easy to add or change elements. </p>
            <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
          </div>
        </div>
      </div>

  <div class="pages">
    <div class="pagination">
          <ul>
            <li class="previous">
              <a href="#" class="fui-arrow-left"></a>
            </li>

            <li class="active"><a href="#fakelink">1</a></li>
            ...
            <li><a href="#fakelink">10</a></li>

            <li class="next">
              <a href="#" class="fui-arrow-right"></a>
            </li>
          </ul>
     </div>
     <a href="#" id="go_top" style="display: inline;"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
   </div>
  </div>
  <script src="../static/ui/js/jquery-1.8.3.min.js"></script>
  <script src="../static/ui/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="../static/ui/js/jquery.ui.touch-punch.min.js"></script>
  <script src="../static/ui/js/bootstrap.min.js"></script>
  <script src="../static/ui/js/bootstrap-select.js"></script>
  <script src="../static/ui/js/bootstrap-switch.js"></script>
  <script src="../static/ui/js/flatui-checkbox.js"></script>
  <script src="../static/ui/js/flatui-radio.js"></script>
  <script src="../static/ui/js/jquery.tagsinput.js"></script>
  <script src="../static/ui/js/jquery.placeholder.js"></script>
  <script src="../static/ui/js/jquery.stacktable.js"></script>
  <script src="../static/ui/http://vjs.zencdn.net/4.3/video.js"></script>
  <script src="../static/ui/js/application.js"></script>
</body>
</html>
